body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #070F25;
}

.projectContainer {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(4.5659090909, 9.7840909091, 24.1340909091);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#aboutResponsiveProjects {
  color: white;
  font-size: 50px;
}

.container {
  width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #070F25;
}

img {
  width: 380px;
}

.headerContainer,
.containerMain,
.footerContainer {
  width: 425px;
}

#developerGreetings,
.contactMe,
#message,
#phonenumber,
.projectLanguages,
.projectName,
#projects,
.containerMainViewProject > * {
  color: white;
}

#developerDescription,
.technology,
.expertise,
.containerLanguages {
  color: grey;
}

.headerContainer,
.headerSubContainer,
.containerKnowledge,
.containerKnowledge > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#developerName {
  font-weight: 700;
}

#developerPhoto {
  width: 223px;
}

.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerMainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  margin-bottom: 20px;
  height: 40px;
}

#projects {
  font-weight: 900;
  font-size: 50px;
}

.contactMe,
.containerMainViewProject > * {
  font-weight: 700;
  text-decoration: none;
  border-bottom: 10px solid white;
  padding-bottom: 8px;
  margin-bottom: 50px;
}

.contactMe:hover,
.containerMainViewProject > *:hover {
  color: bisque;
}

.projectName {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 325px;
  margin-left: 35px;
}

.containerMainViewProject {
  width: 325px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.containerLanguages {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: 700;
}

.footerContainer {
  display: flex;
  justify-content: center;
}

.footerSubContainer {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#showPhonenumberButton {
  border: none;
  height: 35px;
  width: 70px;
  border-radius: 10px;
}

#showPhonenumberButton:hover {
  background-color: #2361C5;
}

#showPhonenumberButton:active {
  transform: scale(0.85);
  transition: transform 0.2s ease-in-out;
}

.highlight {
  background-color: yellow;
  transition: background-color 0.5s ease-in-out;
}

/* Responsive (Desktop) */
@media screen and (min-width: 1024px) {
  .headerContainer {
    flex-direction: row-reverse;
  }
  .containerKnowledge {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
  }
  .headerContainer,
  .containerKnowledge,
  .containerMain,
  .containerPomodoro,
  .containerREST,
  .footerContainer,
  .containerMainHeader,
  .containerMainViewProject {
    width: 1024px;
    margin: 0;
  }
  .containerMainViewProject > * {
    margin-left: 20px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=index.css.map */