$backgroundColor1:#070F25;
$fontColor1: white;
$fontColor2: grey;
$containerWidthMobile:425px;

body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: $backgroundColor1;
}

#aboutRespoinsiveProjects
{
    color:white;
}

.container
{
    width: $containerWidthMobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor1;
}

img
{
    width: 380px;
}

.headerContainer, .containerKnowledge, .containerMain,
.containerPomodoro, .containerREST, .footerContainer
{
    width: $containerWidthMobile;
}

#developerName, #developerGreetings, .contactMe
{
    color: $fontColor1;
}
#developerDescription
{
    color: $fontColor2;
}


.headerContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerSubContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#developerName
{
    font-weight: 700;
}
#developerPhoto
{
    width: 223px;
}
#developerGreetings
{
    
    display: flex;
    justify-content: center;
    align-content: center;
}
#developerDescription
{
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerKnowledge
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerKnowledge >*
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.technology
{
    color: $fontColor1;
}

.expertise
{
    color: $fontColor2;
    display: flex;
    justify-content: center;
}


.containerMain
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerPomodoro, .containerREST
{
    width:calc($containerWidthMobile - 45px);
}
//Main header
.containerMainHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:calc($containerWidthMobile - 45px);
    margin-bottom: 20px;
    height: 40px;
}

#projects
{
    font-weight: 900;
    font-size: 35px;
}

.contactMe, .containerMainViewProject>*
{
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid rgb(37, 240, 216);
    padding-bottom: 8px;
    margin-bottom: 50px;
    border-bottom: 10px solid white;
}

.containerCalendar, .containerRockScissorsPaperGame, .containerPomodoro, .containerREST
{
    border-bottom: 3px solid white;
    margin-bottom: 50px;
}

.containerMainViewProject>*
{
    color:$fontColor1;
}

.contactMe:hover
{
    color: bisque;
}

#projects
{
    color: $fontColor1;
}

//#Rock Scissors Paper Game
.containerRockScissorsPaperGame
{
    height: 850px;
}
#rockPaperScissorsName,#pomodoroName, #RESTName, #calendarName
{
    display:flex;
    justify-content:center;
    align-content:center;
    width: calc($containerWidthMobile - 100px);
    margin-left: 35px;
    color: white;
}
.containerMainViewProject
{
    width: calc($containerWidthMobile - 100px);
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.containerMainViewProject>*:hover
{
    color: bisque;
}
.containerLanguages
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color:$fontColor2;
    font-weight: 700;
}

//#Footer container
#message, #phonenumber
{
    color:$fontColor1;
}
.footerContainer
{
    width:calc($containerWidthMobile - 45px);
    width:$containerWidthMobile;
    display: flex;
    justify-content: center;
}

.footerSubContainer
{
    width:calc($containerWidthMobile - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#showPhonenumberButton
{
    border:none;
    height: 35px;
    width: 70px;
    border-radius: 10px;
}

#showPhonenumberButton:hover
{
    background-color: bisque;
}

.active
{
    transform: scale(0.85);
    transition: transform 0.2s ease-in-out;
}

#showPhonenumberButton:active
{
    transform: scale(0.85);
    transition: transform 0.2s ease-in-out;
}

.highlight
{
    background-color: yellow;
    transition: background-color 0.5s ease-in-out;
}
/* On screens that are 1024px or more*/
@media screen and (min-width: 1024px)
{
    .headerContainer
    {
        display: flex;
        flex-direction:row-reverse;
    }
    .headerSubContainer
    {
        display: flex;
        justify-content: center;
        flex-direction:column;
    }
    .containerKnowledge
    {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .containerKnowledge
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px 0;
    }
    .headerContainer, .containerKnowledge, .containerMain,
    .containerPomodoro, .containerREST, .footerContainer, .containerMainHeader,
    .containerMainViewProject
    {
        width: 1024px;

        margin:0px;
    }
    .containerMainViewProject >*
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}